extends layout

block content
  h1= title
  p Welcome to #{title}

  h1 Category list
    if category_list.length
        ul
            each category in category_list
                li
                    a(href=category.url) #{category.name}
    else
        p There are no categories
    
    a(href='/create') Create a category