extends layout

block content

    h1 #{title}: #{item.name}

    p.question Do you really want to delete this item?

    form(method='POST')
        div.form-delete
            input(type='hidden' name='itemid' value=item._id)
        label(for='password') Enter password:
        input(type='text' id='password' name='password')
        button(type='submit') Delete
    br
    
    

    if error
        p.warning Wrong password

    p.create
        a(href='/category' + item.url) Go back
