body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.header h1 {
  font-size: 3em;
  font-weight: bold;
}

.header p {
  font-size: 1.5em;
  font-style: italic;
}

.category-list li {
  font-size: 1.5em;
  color: chocolate;
}

.category-list li a {
  color: cornflowerblue;
}

a {
  text-decoration: underline red;
}

.create {
  font-size: 1.2em;
}

form,
.passwordBox {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

form label,
.passwordBox label {
  font-size: 1.3em;
  margin-bottom: 10px;
  color: chocolate;
  font-weight: bold;
}

form input,
form select,
.passwordBox input {
  width: 400px;
  margin-bottom: 20px;
}

form * {
  display: block;
}

button[type="submit"] {
  width: 70px;
  background-color: chocolate;
  color: aliceblue;
  font-weight: bold;
  border-radius: 10px;
  font-weight: 1.2em;
}

.productList,
.productDetail,
.question,
.explanation {
  font-size: 1.3em;
}

.explanation,
.warning {
  color: crimson;
}

.description {
  font-style: italic;
}

.productList li {
  margin-bottom: 40px;
}
